/* build time:Sun Feb 27 2022 11:37:06 GMT+0800 (中国标准时间)*/
.breadcrumbs li[data-v-4170130a],.breadcrumbs[data-v-4170130a]{position:relative;z-index:20}.breadcrumbs li[data-v-4170130a]:after{content:">";position:absolute;top:.05rem;right:-.95rem;opacity:.65}.breadcrumbs li[data-v-4170130a]:last-of-type:after{content:""}
/* rebuild by neat */